<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/src/css/excluirAbito.css">
    <link rel="stylesheet" href="/src/css/resetar.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Abito</title>
</head>

<body>

    <div id="excluir-habito">

        <header class="cabecalho-model-excluir">
            <h4>Excluir hábito</h4>
            <button class="fechar-modal-excluir">
                <img src="/src/assets/img/X.png" alt="Fechar">
            </button>
        </header>


        <div class="corpo-model-excluir">
            <h4>
                Certeza que deseja excluir este hábito?
            </h4>
            <p>
                Após executar essa ação não será possível desfazer
            </p>
        </div>

        <div class="botoes-model-excluir">
            <button type="button" class="cancelar">
                Cancelar
            </button>
            <button type="button" class="confirmacao-para-excluir">
                Sim, excluir este hábito
            </button>
        </div>

    </div>

</body>

</html>