@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap');
/* font-family: 'Inter', sans-serif; 
font-family: 'Poppins', sans-serif;*/

.container_geral {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partLogin {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
}

.titulo_login {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: relative;
    width: 100%;
    max-width: 17.5rem;    
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formLogin label {
    position: relative;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 17.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.formLogin input {
    width: 100%;
    max-width: 17rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-color: #F1F3F5;
    border: 2px solid #F1F3F5;
    color: #212529;
}

.formLogin input:focus {
    border: 2px solid #415AF3;
    outline: 0;
}

.formLogin .btnEntrar {
    width: 100%;
    max-width: 17.5rem;
    margin: 0.8rem 0 2.8rem;
    border: 2px solid #415AF3;
    background-color: #415AF3;
    height: 2rem;
    border-radius: 4px;
    color: #FFFFFF;
}

.partPropaganda {
    width: 80%;
    height: 100rem;
    background-color: #4150D2;
    padding: 0.8rem 3rem;
    word-wrap: break-word;
}

.partPropaganda h2 {
    font-size: 1.75rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    margin: 2.8rem 0;
}

.partPropaganda span {
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    
}

.partPropaganda p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #E9ECEF;
    margin-top: 1.7rem;
}

@media only screen and (min-width: 768px) {
    .container_geral {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .container {
        width: 90%;
        margin: 0;
        padding: 0;
        height: 40rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .titulo_login {
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        position: relative;
        width: 83%;
        max-width: 20rem;    
    }

    .formLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .formLogin label {
        position: relative;
        margin: 0.5rem 0;
        width: 83%;
        max-width: 20rem;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    
    .formLogin input {
        width: 80%;
        max-width: 19.5rem;
        height: 2.2rem;
        margin-bottom: 1rem;
        background-color: #F1F3F5;
        border: 2px solid #F1F3F5;
        color: #212529;
    }
    
    .formLogin .btnEntrar {
        width: 83%;
        max-width: 19.7rem;
        margin: 0.8rem 0 2.8rem;
        border: 2px solid #415AF3;
        background-color: #415AF3;
        height: 2.2rem;
        border-radius: 4px;
        color: #FFFFFF;
    }
    
    .partLogin {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        background-color: #FFFFFF;
        border-radius: 0 8px 8px 0;
        box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);

    }

    .partPropaganda {
        width: 45%;
        max-height: 20.4rem;
        background-color: #4150D2;
        padding: 0.8rem 3rem;
        word-wrap: break-word;
        border-radius: 8px 0 0 8px;
    }
}

@media only screen and (min-width: 1268px) {
    .container {
        max-height: 100vh;

    }
    .partLogin {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 30rem;
        background-color: #FFFFFF;
        border-radius: 0 8px 8px 0;
        box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
    }
    .titulo_login {
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        position: relative;
        width: 83%;
        max-width: 23.5rem;    
    }
    .formLogin label {
        position: relative;
        margin: 0.5rem 0;
        width: 83%;
        max-width: 23.5rem;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    
    .formLogin input {
        width: 84%;
        max-width: 23rem;
        height: 2.2rem;
        margin-bottom: 1rem;
        background-color: #F1F3F5;
        border: 2px solid #F1F3F5;
        color: #212529;
    }
    
    .formLogin .btnEntrar {
        width: 83%;
        max-width: 23.5rem;
        margin: 0.8rem 0 2.8rem;
        border: 2px solid #415AF3;
        background-color: #415AF3;
        height: 2.2rem;
        border-radius: 4px;
        color: #FFFFFF;
    }

    .partPropaganda {
        width: 45%;
        max-height: 28.5rem;
        background-color: #4150D2;
        padding: 0.8rem 3rem;
        word-wrap: break-word;
        border-radius: 8px 0 0 8px;
        display: flex;
        flex-direction: column;
    }

    .partPropaganda h2 {
        font-size: 1.75rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        margin: 6rem 1.5rem 0;
    }
    
    .partPropaganda span {
        font-size: 1.5rem;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        margin: 3.5rem 1.5rem 0;
    }
    
    .partPropaganda p {
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: #E9ECEF;
        margin: 3.5rem 1.5rem 0;


    }

}
